.employeeprofileContainer{
  display: flex;
  flex-direction: row;
  gap:18px;
}

.employeeProfile{
  height:134px;
  width:134px;
  border-radius: 50%;
  border:1px solid #0c0c0c;
   padding:5px;
}
.emp_img{
  height:100%;
  width:100%;
  border-radius: 50%;
}
.infoSection {
  display: flex;
  flex-direction: column;
  gap:10px;
}
.empId span {
  font-weight: 600;
  color: #333;
}
.icon {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 4px;
}
.details {
  display: flex;        
  align-items: center;  
  font-size: 12px;
  font-weight: 600;
  gap: 12px;
}
.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.designation {
  background-color: #C7C3FF;
  font-size: 13px;
  color:#3425FF;
  border: 2px solid #3425FF;
  border-radius: 6px;
  padding: 4px 10px;
  cursor: pointer;
}