.headerContainer{
    background-color: white;
    border-radius: 6px;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box
}
.backButton{
    background-color: white;
    margin-top: 10px;
}
.leftSection{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    /* padding: 0 10px 10px 10px; */
    background-color: white;
}
.footerSection {
  background-color: #ffffff; /* White background */
  padding: 10px; /* Optional: add some padding */
}