.bank_info_container {
    background-color: #ffffff;
    border-radius: 8px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Main Form Layout */
.form_grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

/* Group of fields */
.form_group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* Header for each section */
.section_header {
    display: flex;
    align-items: center;
}

.section_title {
font-weight: 500;
font-size: 14px;
color: #82808F;
margin-right: 8px;
}

/* Form item layout */
.form_item {
    width: 100%;
}

.form_item_empty {
    visibility: hidden;
}

.checkbox_row {
  display: flex;
  align-items: center;
  gap: 40px; /* space between checkboxes */
  margin-bottom: 10px;
}

.checkbox_item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox_label {
  color: #82808f;
  font-weight: 500;
  font-size: 12px;
}

/* Wrapper for Salary Account Info rows with reduced gap */
.salary_account_rows {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 900px) {
    .form_group {
        grid-template-columns: 1fr;
    }

    .form_item_empty {
        display: none;
    }
}