.pfWidgetWrapper {
  position: relative;
}

.pfChips {
  position: absolute;
  top: 18px;        /* aligns with widget header */
  right: 20px;
  display: flex;
  gap: 8px;
}

.pfChip {
    display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
   gap: 4px;     
  background: #FFF4E8;
  color: #C38227;
  border: 1px solid #f0b37e;
  white-space: nowrap;
}

.esiChip {
    display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  gap:4px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
  background: #E8EDFF;
  color: #273CC3;
  border: 1px solid #273CC3;
  white-space: nowrap;
}
