.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #fff;
  width: 600px;
  max-height: 75vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px 20px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.closeIcon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.body {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.footer {
  padding: 16px 20px;
  /* border-top: 1px solid #e6e6e6; */
  display: flex;
  justify-content: center;
}
