.header_figure {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: space-between; 
  width: 100%; 
  margin: 0;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header_text {
  font-size: 14px;
  font-weight: 400;
  color: #2D2D2D;
  margin: 0;
}

/* .document_item{
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}
.document_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
} */

.document_item {
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  background: #fff;
}

.document_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}
.left_section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.document_label{
    font-weight: 600;
    font-size: 11px;
    color:#5A5A5A;
}
.document_name{

    font-weight: 600;
    font-size: 12px;
    color:#262626;

}
.document_content:not(:last-child) {
  border-bottom: 1px solid #E2E2E2;
}