.addEmployeeWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100vh;
  min-height: 400px;
  transition: transform 0.2s, opacity 0.2s;
}

.addEmployeeIcon {
      font-size: 67px;
    color: #3425FF;
    /* margin-bottom: 16px; */
    text-align: center;
    font-weight: 350;
}

.addEmployeeText {
  width:100px;
  font-size: 16px;
  color: #3425FF;
  text-align: center;
  font-weight: 700;
}

