/* --- OnBoardingEmployeeNav.module.css --- */


.controls {
  margin-top: 24px;
}

.controls button {
  margin: 0 8px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.navContainer {
  /* padding: 20px 30px 40px 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
   flex-wrap: wrap;
  /* max-height: 535px; */
  overflow-y: auto;
}

/* Ensures the footer is spaced properly below data */
.stepContent {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}