.infoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 65px;
  
  width: 100%;
  /* margin-top: 5px; */
  color: #222;
}

.infoItem {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 12px;
  width: 160px;
  color: #666;
  font-weight: 500;
  margin: 0;
}

.value {
  font-size: 13px;
  font-weight: 700;
  color: #000;
  margin: 2px 0 0;
}
