.search_header_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
  background-image: url("../../../../assets/application-analytics/application_search_background.png");
  background-size: cover; /* Make the image cover the whole div */
  background-position: center; /* Center the image */
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #DDDDDD;
}

