/* === Section Header (Category Info + Employer Req Info) === */
.category_header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  margin-top: 20px;
}

.category_title {
  font-weight: 500;
  font-size: 14px;
  color: #82808F;
  margin: 0;
}

/* === Container === */
.category_form_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 2000px;
  background-color: #fff;
  border-radius: 8px;
  /* padding: 20px 24px; */
  margin: 0 auto;
  box-sizing: border-box;
}

/* === Form Grid === */
.category_form_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px 31px;
  margin-bottom: 16px;
}

/* Individual form field container */
.category_form_item {
  display: flex;
  flex-direction: column;
}

/* Error Text */
.error {
  color: #DC2626;
  font-size: 12px;
  margin-top: 4px;
}

/* === Responsive Adjustments === */
@media (max-width: 992px) {
  .category_form_grid {
    gap: 10px 20px;
  }
}

@media (max-width: 600px) {
  .category_form_grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
