.filterWrapper {
  position: absolute;
  top: 108px;
  width: 310px;
  left:245px;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  z-index: 20;
}

.title {
  font-weight: 600;
  margin-bottom: 12px;
}

.field {
  margin-bottom: 14px;
}

.searchBtn {
  width: 100%;
  background: #4f46e5;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}


