.rightsidedetailscontainer {
  display: flex;
  
  width: 28%;
  border: 1px solid #EFF0F0;
  border-radius: 6px;
  background-color: #FFFFFF;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

