.container{
  width:70%;
  border: 1px solid #f7f1f1;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap:20px;
}
.content {
  display: flex;
  flex-direction: column;      /* or grid */
  gap: 8px;
}