.rightContainer {
  display: flex;
  justify-content: center; /* centers the inner container */
  width: 30%;
  border: 1px solid #EFF0F0;
  border-radius: 6px;
  background-color: #FFFFFF;
  padding: 10px;
}

.rightContainer2 {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  width: 100%;
}
