.RightInformationHeader {
  display: flex;
  flex-direction: row;
  gap:5px;
 
}

.icon {
  width: 24px;
  height: 24px;
  margin-top: 15px;
  margin-left: 10px;
}

h6 {
  font-size: 16px;
  color: #4a4a4a;
  font-weight: 600;
  margin-top:15px;
}
