.header_figure {
  display: flex;
  flex-direction: column; /* <-- Key change: from column */
  align-items: flex-start; /* <-- Key change: added */
  justify-content: space-between; /* <-- Key change: added */
  width: 100%; /* <-- Key change: added */
  margin: 0;
}
 
.header_left {
  display: flex;
  align-items: center;
  gap: 8px;
}
 
.header_right {
  display: flex;
  align-items: center;
  gap: 6px;
}
 
.header_text {
  font-size: 14px;
  font-weight: 400;
  color: #2D2D2D;
  margin: 0;
}
 
 
 
.driver_cards_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px; /* adjust the gap as needed */
}
 
 
.employeeInfoContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding:0 13px 0 13px;  */
 
}
 
.employeedetails {
  font-weight: 700;
  color: #000000;
  font-size: 12px;
}
 
.employeelabel {
  font-size: 12px;
  color: #777777;
  font-weight: 600;
}
 
.employeeInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 50px;    */
  row-gap: 20px;      /* ⬅️ vertical spacing */
}
.employeeInfo > .item:nth-child(even) {
  align-items: flex-end;      /* ⬅️ push content to right */
  text-align: right;          /* ⬅️ align text properly */
}
 
.item {
  display: flex;
  flex-direction: column;
}
.divider {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 12px 0;
}
.addressContainer {
  display: flex;
  align-items: center;          
  justify-content: space-between;
  gap: 5px;
  /* padding-left:  14px;
  padding-right:  14px;
  padding-bottom: 14px; */
 
}
.addressDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;      
}
 
.addressTitle {
  font-size: 12px;
  color: #666;
  margin-bottom: 2px;
}
 
.companyname {
  font-weight: 600;
  color: #262626;
  font-size: 12px;
  white-space: nowrap;
}
 
.fullAddress {
     font-size: 10px;
    color: #626262;
    font-weight: 600;
}
 
.rightIcons {
  display: flex;
  align-items: center;
  gap: 5px;
}
 
.rightIcons img {
  /* width: 22px;
  height: 22px; */
  cursor: pointer;
  /* padding: 5px; */
}